<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de mascotas</title>
</head>
<body>
   
   <h1>Listado de mascotas:</h1>


   
   
    <ul>

        
        {% for mascotas in lista_mascotas %}

            <li>{{mascotas.nombre}} Generales: Raza: {{mascotas.raza}} - Edad: {{mascotas.edad}} - Peso: {{mascotas.peso}} metros - Fecha de Nacimiento: {{mascotas.fecha_de_nacimiento}}</li>
            
        {% endfor %}
            

    </ul>

</body>
</html>