<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de familiares</title>
</head>
<body>
   
   <h1>Listado de familiares:</h1>


   
   
    <ul>

        
        {% for familia in lista_familiar %}

            <li>{{familia.nombre}} {{familia.apellido}} - Edad: {{familia.edad}} - Altura: {{familia.altura}} metros - Fecha de Nacimiento: {{familia.fecha_de_nacimiento}}</li>
            
        {% endfor %}
            

    </ul>

</body>
</html>
